extends layout.pug

block assets
  style.
    section {
      background-color: hsl(204, 86%, 53%);
    }

block content
  section.section.has-text-centered(style="height: 60vh;")
    h1.title PROJECT-FUN
    h2.subtitle Function as a service project.
  footer.footer
    .content
      p.
        This is a footer, and it is supposed it have the stuff that should be in the footer. But, ¯\_(ツ)_/¯