extends layout.pug

block assets
  style.
    .topbar {
      background-color: hsl(0, 0%, 96%);
    }

block content
  section.section: .columns
    .column.is-one-fifth-tablet
    .column
      if (error.message)
        .notification.is-danger= error.message
      .box
        form(method="post")
          .field: p.control.has-icons-left
            input.input(type="text", placeholder="Username", name="username", required, value=body.username)
            span.icon.is-small.is-left
              i.fa.fa-user
          .field: p.control.has-icons-left
            input.input(type="password", placeholder="Password", name="password", required, value=body.password)
            span.icon.is-small.is-left
              i.fa.fa-lock
          button.button.is-fullwidth.is-outlined.is-info Login
    .column.is-one-fifth-tablet
    